/* explore button */
.explore_btn {
  animation: pulse 1s infinite;
}
/* pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
